/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-dic-2018, 9:32:42
    Author     : Camila Mata
*/
*{
    margin: 0 auto 0 auto ;
    padding: 0;
}
body{
    background-color: white;
    font: 15px helvetica;
}
main{
    width: 960px;
    height: 100%; 
}
section{
    background-color: white;
    opacity: 1;
   /*position: relative;*/
    width: 100%;  
    min-height: 550px;
    top: 10%;
    left: -24%;
    z-index: 2;
    line-height: 44px;

}
.message{
  text-align: center; 
  font: sans-serif;
  font-size: 30px;
  line-height: 300px;
}

.back{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: turquoise;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.back:hover {
    background-color: red;
}

.back:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}